
.markdownify {
  .hljs {
    color: @foreground;
    background: @background;
  }
  code {
    color: @foreground;
    background-color: @background;
    padding: 0px 4px;
    border-radius: 3px;
  }
  pre {
    padding: .5em;
    overflow-y: auto;
    & > code {
      padding: 0;
      background-color: transparent;
    }
  }
  a {
    text-decoration-line: underline !important;
    color: inherit;
    .front.hover();
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    td, th {
      padding: 0.5em;
      border: 1px solid #dfdfdf;
    }
  }
  blockquote {
    border-left: @foreground solid 5px;
    padding-left: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
  h2, h3, h4, h5, h6 { margin-top: 1.5em; }
  h1, h2 {
    // padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
  }
}
